<div class="spotify-container">
  <div class="spotify-player">
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/track/09CtPGIpYB4BrO8qb1RGsF?utm_source=generator"
      width="100%"
      height="352"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy">
    </iframe>
  </div>
  <div class="text-display">
    <p>Tu możesz dodać swój tekst!</p>
  </div>
</div>
